# Create dataframe needed for classification of event ratings,<br>using a uniform span between event dates
Local files needed:<br>
Events_FinalRatingsList.csv<br>
CleanLexisNexis.csv

In [153]:
import csv
import pandas as pd
from datetime import datetime as dt

## Read in the event dates and ratings

In [154]:
# Read in final table of event ratings. We can ignore FilterWords
eventstable = pd.read_csv('Events_FinalRatingsList.csv')
eventstable.head()

,EventID,Date,EventText,FilterWords,FinalRating
0,1001,01-31-2011,Syrian President Bashar al-Assad criticizes Is...,"extern, israel",2.0
1,1010,03-11-2011,Reuters reports ‘a large shipment of weapons ...,"omin, iraq",3.0
2,1011,03-12-2011,thousands of Syrian Kurds protested in Qamishl...,"all, kurd",-1.0
3,1023,03-26-2011,"Activists and human rights groups said, accord...","accord, kurd",0.0
4,1025,03-29-2011,"after a government appeal on 28 March, today t...","agenc, israel",1.0

In [155]:
eventstable.FinalRating.describe()

count    548.000000
mean       1.344282
std        1.467877
min       -1.000000
25%        0.000000
50%        2.000000
75%        3.000000
max        3.000000
Name: FinalRating, dtype: float64

In [156]:
print(eventstable.groupby('FinalRating')['EventID'].nunique())

FinalRating
-1.000000    121
 0.000000     19
 1.000000    102
 1.333333      2
 1.666667      3
 2.000000    155
 3.000000    146
Name: EventID, dtype: int64

## Create dataframe of events that are X days apart

In [157]:
finaleventdf = pd.DataFrame(index=None, columns=['EventID','Date','EventText','FinalRating'])

yescounter = 0
nocounter = 0
datecutoff = 6 # ensure there are at least this many days between events
minrating = 0   # do not include events with rating -1. These events did not receive a final rating based on algorithm.
dspan = 1000   # for storing the minimum number of days between events

# beginning reference date for calculating prior date cutoff is Jan 1, 2010
refdate=dt.strptime("12-01-2010", "%m-%d-%Y") 

for index, row in eventstable.iterrows():
    # calculate how many days have passed since the reference date and the current event date
    converteddate = dt.strptime(row['Date'], "%m-%d-%Y")
    d = converteddate - refdate
    
    # if rating is acceptable and days passed is greater than the cutoff:
    #    write event to dataframe finaleventdf
    #    set refdate to the latest event date
    #    increase counter
    #    record a new minimum dspan if days between events is smaller
    if row['FinalRating'] >= minrating and d.days > datecutoff:
        finaleventdf = finaleventdf.append({'EventID': row['EventID'],
                                      'Date': row['Date'],
                                      'EventText': row['EventText'],
                                      'FinalRating': int(round(row['FinalRating']))},
                                      ignore_index=True)
        refdate = converteddate
        yescounter += 1
        if d.days < dspan:
            dspan = d.days
    # else this event is too soon since the last event. Update counter
    else:
        nocounter += 1

finaleventdf['FinalRating'] = finaleventdf['FinalRating'].astype(int)
finaleventdf['EventID'] = finaleventdf['EventID'].astype(int)

print "Events included:", yescounter
print "Events excluded:", nocounter
print "Minimum day span between events:", dspan

Events included: 159
Events excluded: 389
Minimum day span between events: 7

In [158]:
print(finaleventdf.groupby('FinalRating')['EventID'].nunique())

FinalRating
0     6
1    35
2    54
3    64
Name: EventID, dtype: int64

In [159]:
finaleventdf

,EventID,Date,EventText,FinalRating
0,1001,01-31-2011,Syrian President Bashar al-Assad criticizes Is...,2
1,1010,03-11-2011,Reuters reports ‘a large shipment of weapons ...,3
2,1023,03-26-2011,"Activists and human rights groups said, accord...",0
3,1032,04-07-2011,"Of the 300,000 Syrian Kurds in region Hasakah ...",1
4,1040,04-16-2011,"After the new Syrian cabinet was sworn in, Pre...",1
5,2009,05-09-2011,The European Union institutes arms embargo and...,2
6,2017,05-16-2011,The Syrian army's siege across the country con...,2
7,2023,05-26-2011,"On 26 May, Haaretz reported that protests had ...",2
8,2029,06-02-2011,Witnesses said Syrian forces destroyed a numbe...,2
9,2038,06-13-2011,"By 13 June, helicopter gunships and tanks brea...",3
10,2058,06-20-2011,The Turkish government sent an envoy to Damasc...,1
11,2067,07-02-2011,A funeral was held in Homs for five protesters...,2
12,2075,07-11-2011,Supporters of President al-Assad attacked the ...,2
13,2088,07-22-2011,"Mass protests occurred, with at least 450,000 ...",2
14,2093,07-31-2011,On what appeared to be the bloodiest day of th...,3
15,2098,08-07-2011,"Over 70 people were killed in Syria, according...",3
16,2111,08-14-2011,The LCC said that even as the army's artillery...,3
17,2120,08-22-2011,"As protests continued, the UN said the protest...",2
18,2127,08-29-2011,One person was reported killed in a dawn raid ...,3
19,3004,09-06-2011,Activists stated that Syrian security forces h...,3
20,3020,09-13-2011,Protesters in Deraa and Homs burned the Russia...,1
21,3031,09-20-2011,The White House says U.S. President Barack Oba...,1
22,3040,09-29-2011,"About 100 ""pro-assad"" protesters attempted to ...",3
23,3053,10-06-2011,The Syrian Army invades Lebanon for the second...,3
24,3063,10-13-2011,At least 20 people have been killed in renewed...,3
25,3070,10-21-2011,Deaths have been reported during the latest pr...,3
26,3078,11-02-2011,Syrian security forces shot dead at least 11 v...,3
27,3089,11-15-2011,The death toll rose to 70 people as fighting c...,3
28,3097,11-22-2011,"Britain, France and Germany asked the United N...",1
29,3105,12-01-2011,"According to the UN, the death toll has reache...",3
...,...,...,...,...
129,13005,01-12-2016,Syrian Armed forces take control of the rebel ...,1
130,13013,02-04-2016,A top Saudi defence chief said Saudi-Arabia is...,2
131,13017,02-12-2016,Three U.S backed Shite militias are now workin...,2
132,13025,02-22-2016,United States and Russia agree an all party ce...,0
133,13030,02-29-2016,Russian and U.S brokered ceasefire takes place...,0
134,14000,05-12-2016,"Mustafa Badreddine, a senior Hezbollah is kill...",2
135,14002,05-23-2016,Reuters reports nearly 150 people are killed a...,3
136,14007,05-30-2016,Russian aircraft conducts eight air strikes ta...,3
137,14016,06-10-2016,A friendly fire incident in late May in which ...,3
138,14017,06-17-2016,"Russia announces that the mingling of the ""mod...",1
139,14031,07-10-2016,The President of France Francois Hollande call...,2
140,14037,07-19-2016,The Turkish pilots who downed a Russian Su-24 ...,3
141,14041,07-30-2016,Russia announces the implementation of several...,0
142,15003,09-11-2016,Multiple airstrikes after the USA and Russia a...,2
143,15007,10-16-2016,Dabiq offensive: Turkish-backed rebels capture...,2
144,15012,10-24-2016,The Russian sponsored 24 hour ceasefire report...,2
145,15016,11-08-2016,According to a retired Brigadier General of th...,1
146,15021,11-24-2016,Syrian Arab Air Force conducted an airstrike a...,3
147,15023,12-05-2016,The Russian Federation and China vetoed a UN S...,1
148,16002,01-09-2017,Syrian media and U.S.-based journalists report...,2
149,16008,03-01-2017,Establishment of the Arima buffer zone along p...,0
150,16010,03-09-2017,U.S Marine units began to deploy at Northern S...,2
151,16011,03-17-2017,"In a border incident, the Syrian Arab Army lau...",3
152,16014,03-29-2017,The government of the Islamic Republic of Iran...,1
153,16018,04-07-2017,The Syrian government Shayrat Airfield's facil...,3
154,17000,05-02-2017,"At peace talks in Astana, the presidents of th...",2
155,17004,05-09-2017,The Trump administration approved a plan to ar...,2
156,17014,06-18-2017,A U.S. F/A-18E Super Hornet shoots down a Syri...,3
157,17021,07-04-2017,"A fifth round of talks organized by Russia, Tu...",0
158,17025,07-24-2017,The Russian General Staff announced the introd...,1

## Read in LexisNexis article data

In [160]:
# Read in csv of article data. We need article title and text by date. 
# Could also try publication title and publication type as features...
articletable = pd.read_csv('CleanLexisNexis.csv')
articletable.head()

,publication,date,title,length,publicationtype,text,year,month,day
0,The Atlanta Journal-Constitution,2010-01-03,Five pressing questions to answer in 2010,747,Newspapers,Will President Barack Obama regain his momentu...,2010,1,3
1,BBC Monitoring Middle East - Political Supplie...,2010-01-04,"Saudi foreign minister says Israel ""spoiled ch...",2196,Transcript,Text of report by Saudi-owned leading pan-Arab...,2010,1,4
2,BBC Monitoring Middle East - Political Supplie...,2010-01-08,Highlights of Iran parliamentary session.,1123,Transcript,Excerpt from report on parliamentary proceedin...,2010,1,8
3,Right Vision News,2010-01-09,Jordan:Way out for Obama,852,Newspaper,"Pakistan, Jan. 09 -- These are the worst of ti...",2010,1,9
4,The Nation (AsiaNet),2010-01-10,Zardari seeks UK help for access to EU markets,478,Newspaper,President Asif Ali Zardari has said that Brita...,2010,1,10

## Create the table of X-day-spaced events and article titles and texts from the preceding X days
This is the table to use for machine learning

In [161]:
# Update date formats for doing subtractions
finaleventdf['Date'] = pd.to_datetime(finaleventdf['Date'])
articletable['date'] = pd.to_datetime(articletable['date'])

In [162]:
mldataframe = pd.DataFrame(index=None, columns=['FinalRating','Title','Text'])
daystring = str(datecutoff) + ' days'

# for each event date, create a mini dataframe of articles occuring within the cutoff period
for index, row in finaleventdf.iterrows():
    eventdate = row['Date']
    eventcutoffdate = eventdate - pd.Timedelta(daystring)
    articlerange = (articletable['date'] >= eventcutoffdate) & (articletable['date'] < eventdate)
    thisrange = articletable.loc[articlerange]

    # for each article in the mini dataframe, write a row to a machine learning table
    # with the article title, text, and target event rating
    for artindex, artrow in thisrange.iterrows():
        mldataframe = mldataframe.append({'FinalRating': row['FinalRating'],
                                          'Title': artrow['title'],
                                          'Text': artrow['text']},
                                          ignore_index=True)

mldataframe['FinalRating'] = mldataframe['FinalRating'].astype(int)

In [163]:
mldataframe.head()

,FinalRating,Title,Text
0,2,Iran's foreign minister meets Syrian president,Text of report in English by Iranian news chan...
1,2,Analysis: Obama's State of the Union and US fo...,He will likely mention foreign issues and is u...
2,2,Israel alert to spillover of violence in Lebanon,NORTHERN ISRAELI BORDER -- Security officials ...
3,2,Canada gauging whether new Lebanon government ...,cclark@globeandmail.com How much of a banned t...
4,2,Congress mulls aid cut if Hizbullah controls g...,WASHINGTON - Continuing US aid to Lebanon will...

In [164]:
with open('RatingsandText.csv', 'w') as f_new:
    mldataframe.to_csv(f_new, header=True, index=False)
    f_new.close()